<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NAGPSuite">
  <listeners>
    <listener class-name="org.nagp.listeners.ExtentReportListener"></listener>
  </listeners>

  <test name="NAGPProject">
    <classes>
      <class name="org.nagp.AppTest" />
      <class name="org.nagp.BasicTest" />
    </classes>
  </test>

</suite>